<div class="row mt-3">
  {{!-- 畫面左側 --}}
  <div class="col-3 d-flex flex-column align-items-center justify-content-between" style="height: 95vh;">
    <div class="d-flex flex-column align-items-center" style="width: 50%;">
      <div class="w-100">
        <a href="/">
          <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png"
            width="50px">
          </img>
        </a>
      </div>
      <a class="btn btn-primary mt-1 w-100" href="/admin/tweets">推文清單</a>
      <a class="btn btn-primary mt-1 w-100" href="/admin/users">使用者列表</a>
    </div>
    <div class="d-flex flex-column align-items-center" style="width: 50%;">
      <a class="btn btn-primary mt-1 w-100" href="/signout">登出</a>
    </div>
  </div>

  {{!-- 畫面中間 --}}
  <div class="col-9">
    <h3>推文清單</h3>
    <br>
    {{!-- 推文s --}}
    <section>
      {{#each tweets}}
      <div class="card" style="width: 95%">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row align-items-start">
              <div
                style="width: 50px; height: 50px; border-radius:100%; background-image: url('{{this.User.dataValues.avatar}}'); background-size: cover">
              </div>
              {{!-- 推文 之 個人資訊 --}}
              <div class="ms-2">
                <div class="d-flex flex-row align-items-center">
                  <h6>{{this.User.dataValues.name}}</h6>
                  <h6 class="ms-1">
                    <a href="/users/{{this.User.dataValues.id}}/tweets">@{{this.User.dataValues.account}}</a>
                  </h6>
                  <h6 class="ms-1">時間戳記(待補)</h6>
                </div>
                {{!-- 推文 之 內文 --}}
                <div>
                  <a href="/tweets/{{this.id}}">
                    <p class="card-text">{{this.description}} </p>
                  </a>
                </div>
              </div>
            </div>
            <div>
              <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="post">
                <button type="submit" class="btn-close"></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </section>
  </div>
</div>