<div class="row mt-3">
  {{!-- 畫面左側 --}}
  <div class="col-3 d-flex flex-column align-items-center justify-content-between" style="height: 95vh;">
    <div class="d-flex flex-column align-items-center" style="width: 50%;">
      <div class="w-100">
        <a href="/">
          <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png"
            width="50px">
          </img>
        </a>
      </div>
      <a class="btn btn-primary mt-1 w-100" href="/admin/tweets">推文清單</a>
      <a class="btn btn-primary mt-1 w-100" href="/admin/users">使用者列表</a>
    </div>
    <div class="d-flex flex-column align-items-center" style="width: 50%;">
      <a class="btn btn-primary mt-1 w-100" href="/signout">登出</a>
    </div>
  </div>

  {{!-- 畫面中間 --}}
  <div class="col-9">
    <h3>使用者列表</h3>
    {{!-- 使用者s --}}
    <section>
      <div class="row" style="width: 95%">
        {{#each users}}
        <div class="col-3 mt-2">
          <div class="card">
            <div class="card-body">
              {{!-- Banner --}}
              <div
                style="width: 100%; height:200px; background-image: url('{{this.banner}}'); background-position: center center; background-size: cover">
              </div>
              {{!-- avatar --}}
              <div class="d-flex flex-row justify-content-center mx-3">
                <div style="margin-top: -65px; width: 130px; height: 130px; border-radius:100%; border: 2px solid white; 
                  background-image: url('{{this.avatar}}'); background-size: cover">
                </div>
              </div>
              {{!-- 個人 info --}}
              <div class="d-flex flex-column align-items-center mx-3 mt-1">
                <h5 style="font-weight: 900;">{{this.name}}</h5>
                <h6 style="font-size: 0.8em; color: #909090; font-weight: 900;">
                  <a href="/users/{{this.id}}/tweets">@{{this.account}}</a>
                </h6>
                <div>
                  回覆{{this.replyNum}} 喜歡{{this.likeUserNum}}
                </div>
                <div>
                  Followers{{this.followerNum}} Followings{{this.followingNum}}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </section>
  </div>
</div>