<div class="row mt-3">
  {{!-- 畫面左側 --}}
  <div class="col-3 d-flex flex-column align-items-center justify-content-between" style="height: 95vh;">
    <div class="d-flex flex-column align-items-center" style="width: 50%;">
      <div class="w-100">
        <a href="/">
          <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png"
            width="50px">
          </img>
        </a>
      </div>
      <a class="btn btn-primary mt-1 w-100" href="/tweets">首頁</a>
      <a class="btn btn-primary mt-1 w-100" href="/users/{{user.id}}/tweets">個人資料</a>
      <a class="btn btn-primary mt-1 w-100" href="/setting">設定</a>
    </div>
    <div class="d-flex flex-column align-items-center" style="width: 50%;">
      <a class="btn btn-primary mt-1 w-100" href="/signout">登出</a>
    </div>
  </div>

  {{!-- 畫面中間 --}}
  <div class="col-6">
    {{!-- 個人資訊 --}}
    <section>
      <div class="d-flex flex-row">
        <div>
          <h3><a href="javascript:history.back()">←</a></h3>
        </div>
        <div class="ms-2">
          <h5 style="font-weight: 900; margin-bottom: -3px">{{paramsUser.name}} name</h5>
          <h6 style="font-size: 0.8em; color: #909090">{{paramsUser.tweetNum}}則推文</h6>
        </div>
      </div>
    </section>

    {{!-- List --}}
    <ul class="mt-2 nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/users/{{paramsUser.id}}/followers">跟隨者</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/users/{{paramsUser.id}}/followings">正在更隨</a>
      </li>
    </ul>

    {{!-- 追蹤者 Followers --}}
    <section>
      {{#each paramsUser.Followings}}
      <div class="card" style="width: 100">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-start">
            {{!-- Avatar --}}
            <div
              style="width: 50px; height: 50px; border-radius:100%; background-image: url('{{this.dataValues.avatar}}'); background-size: cover">
            </div>
            <div class="d-flex flex-column ms-4" style="width:90%">
              <div class="d-flex flex-row justify-content-between">
                {{!-- 姓名 與 帳號 --}}
                <div>
                  <div class="d-flex flex-row align-items-center">
                    <h5 style="font-weight: 900;">{{this.dataValues.name}}</h5>
                  </div>
                  <div class="d-flex flex-row align-items-center" style="margin-top: -6px">
                    <h6 style="font-size: 0.8em; color: #909090; font-weight: 900;">
                      <a href="/users/{{this.dataValues.id}}/tweets">@{{this.dataValues.account}}</a>
                    </h6>
                  </div>
                </div>
                {{!-- 追蹤按鈕 --}}
                <div>
                  {{#if this.isFollowedByUser}}
                  <form action="/followships/{{this.dataValues.id}}?_method=DELETE" method="post">
                    <button type="submit" class="mt-1 btn btn-primary"
                      style="height: 40px; border-radius:2em">正在追蹤</button>
                  </form>
                  {{else}}
                  <form action="/followships/{{this.dataValues.id}}" method="post">
                    <button type="submit" class="mt-1 btn btn-outline-primary"
                      style="height: 40px; border-radius:2em">追蹤</button>
                  </form>
                  {{/if}}
                </div>
              </div>
              {{!-- 自我介紹 --}}
              <div>
                {{this.dataValues.introduction}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </section>
  </div>

  {{!-- 畫面右側 --}}
  <div class="col-3">
    <div style="width: 80%">
      <section>
        <div class="card" style="width: 100">
          <div class="card-body" style="margin-top: -10px; margin-bottom: -12px">
            <h4>Popular</h4>
          </div>
        </div>
        {{#each popularUsers}}
        <div class="card" style="width: 100">
          <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
              <div class="d-flex flex-row align-items-start">
                <div
                  style="width: 50px; height: 50px; border-radius:100%; background-image: url('{{this.avatar}}'); background-size: cover">
                </div>
                {{!-- 推文 之 個人資訊 --}}
                <div class="ms-2">
                  <div class="d-flex flex-row align-items-center">
                    <h6>{{this.name}}</h6>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                    <h6 class="ms-1">
                      <a href="/users/{{this.id}}/tweets">@{{this.account}}</a>
                    </h6>
                  </div>
                </div>
              </div>
              <div>
                {{#if isFollowedByUser}}
                <form action="/followships/{{this.id}}?_method=DELETE" method="post">
                  <button type="submit" class="mt-1 btn btn-primary"
                    style="height: 40px; border-radius:2em">正在追蹤</button>
                </form>
                {{else}}
                <form action="/followships/{{this.id}}" method="post">
                  <button type="submit" class="mt-1 btn btn-outline-primary"
                    style="height: 40px; border-radius:2em">追蹤</button>
                </form>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </section>
    </div>
  </div>
</div>